* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  min-height: 98.5vh;
  border: 1px solid lightblue;
  margin: 0.5rem;
}
